.main-body {
    width: 100%;
}

.visual {
    width: 1430px;
    height: auto;
    margin: auto;
    background-color: rgb(235, 226, 226);
}

/* 홈 화면 */
.home {
    margin-top: 30px;
    text-align: center;
    height: 735px;
}
/* 홈 화면 왼쪽 */
.home-left {
    float: left;
    display: inline-block;
    margin: 2% 0 0 4%;
}
.home-left img {
    width: 650px;
    height: 650px;
}
/* 홈 화면 오른쪽 */
.home-right {
    float: right;
    margin: 2% 2% 0 0;
}
.home-right-top {
}
.home-right-top img {
    width: 680px;
    height: 380px;
}
/* 홈 화면 연락처, 이메일, 주소 부분 */
.home-right-down {
    width: 680px;
    padding-top: 60px;
}

/* sns 계정 (카카오, 인스타) */
.sns-account {
    float: left;
    width: 680px;
}
.sns-account dl {
    display: inline;
    margin-left: 30px;
}
.sns-account dt {
    display: inline;
    font-weight: bold;
}
.sns-account dd {
    display: inline;
    margin-left: 4px;
}
/* 카카오 계정 */
.kakao-account {
    float: left;
    margin-left: 50px;
}
.kakao-account img {
    position: absolute;
    width: 23px;
    height: 23px;
}
/* 인스타 계정 */
.instagram-account { 
    float: left;
    margin-left: 100px;
    
}
.instagram-account img {
    position: absolute;
    width: 23px;
    height: 23px;
}


/* 연락처, 이메일 */
.personal-contact {
    float: left;
    width: 680px;
    margin-top: 60px;
    margin-left: 130px;
}
.personal-contact dl {
    display: inline;
}
.personal-contact dt {
    display: inline;   
    font-weight: bold;     
}
.personal-contact dd {
    display: inline;
    margin-left: 4px;
}
/* 연락처 */
.phone-number {
    float: left;
}
#phone-email-partition {
    float: left;
    margin-right: 10px;
    margin-left: 10px;
}
/* 이메일 */
.email-address {
    float: left;
}

/* 집 주소 */
.home-address {
    float: left;
    width: 680px;
    margin-top: 10px;
}
.home-address dl {
    display: inline;
}   
.home-address dt {
    display: inline;
    font-weight: bold;
}
.home-address dd {
    display: inline;
    margin-left: 4px;
}

footer {
    float: left;
    width: 100%;
    margin-top: 30px;
    font-size: 12px;
    color: gray;
}
footer p {
    width: auto;
}

.about-me {

}
.study {

}
.trip {

}
.photo {

}
.contact {

}